*{

}

body{
	background: url("../images/SanFransokyo-BG.jpg" ) no-repeat;
}

h2{
	font-weight: bold;
}

.music-buttons{
	margin: 10px;
	background: rgba(240, 151, 224, 0.4);
	padding: 20px;
}

.container{

}

.charImg{
	width: 150px;
	margin: 10px;
	color:black;
	background-color: white;
	padding: 20px;
	border: solid 2px black;
}

.userStyle{
	border: solid 2px green;
	color:black;
	padding: 20px;
	background-color: yellow;
}

.opponentStyle{
	background-color: red;
	border: solid 2px white;
}

.currentOpponent{
	background-color: black;
	color: blue;
	border: solid 2px blue;
}